
.top{
 width:100%;
 height:100px;

 
}
.top_left{
	float: left;
	width:1px;
	height: 50px;
	padding-top:20px;
	padding-left:10px;
}

.top_right{
	float: right;
	height: 400px;
	margin-right: 15px;
	font-size:20px;
	
}
.top_right top h3{
    font-size:35px;
    color:#f00;
}
.nav{
width:800px;
height:30px;

margin:0 auto;
}
.nav_list{
width:128px;
height:30px;
background:#fcafda;
float:left;
text-align: center;
line-height: 25px;
padding-top: 20px;	
margin-top:30px;
font-size:20px;
font-weight: bold;
}
.nav_list a{
text-decoration: none;
color:#fff;	
}
.nav_list a:hover{
	color:#e4007f;
}
.main {
	float: left;
	height: 500px;
	width: 1030px;
	margin-top: 15px;
	

}
.main_left{
	float: left;
	width: 200px;
	margin-left: 10px;
	overflow: auto;
	color:#000;
	height: 300px;
}
.main_left_top h2 {
	font-size: 25px;
	font-weight: bold;
	height: 40px;

	padding-left: 20px;
	color:red;
}
.main_left_list {
	text-decoration: none;
	margin-top: 5px;
	margin-left:20;
	padding-left: 20px;
	list-style: none;
	font-size: 20px;
	font-weight: bold;
}
.main_left_list a{
	color:#434343;
	text-decoration: none;
}
.main_left_list a:hover{
	color:#e4007f;
}
.main_left_bottom{
     height:50px;
	 width: 200px;
    font-size: 18px;
	font-weight: bold;
	height: 40px;
	padding-top: 10px;
	padding-left: 20px;
	color:red;
}
.main_left_bottom a{
	color:#434343;
}
.main_left_bottom a:hover{
	color:#e4007f;
}
.main_mid {
	float: left;
	margin-left: 50px;
	width: 764px;
     
}
.main_mid_top h3 {
	font-size: 25px;
	font-weight: bold;
	height: 30px;
	padding-left: 20px;
}

.main_mid_bottom {
	width: 880px;
	height: 500px;
	position:absolute; 
}
.main_mid_bottom img {
	width: 120px;
	height: 130px;
	 
}
.main_mid_bottom ul li {
	display: inline;
	float: left;
	margin-left:60px;

   font-size: 20px;
	font-weight:10px;
}
.main_mid_bottom ul li a{
      display:block;
      width: 350px;
	  height: 250px;
	  text-decoration:none;
	  color:#434343;
}
.main_mid_bottom ul li :hover{
	 text-decoration:underline;
	 color:#e4007f;
}
.main_mid_bottom_base{
	float:right;
    width:200px;
	height:50px;
	font-size:22px;
	color:#ccc;
}
.main_mid_bottom_base a{
	text-decoration:none;
}
.main_mid_bottom1 img {
	width:20px;
	height:28px;
	
}

.main_mid_bottom1 :hover{
     background:pink;

}
.right{
	float: right;
	width: 100px;
	margin-left:10px;
	height: 260px;

}
.totop{
	width:30px;
	height:30px;
	
	position:fixed;
	right:50px;
	bottom:30px;
	transition:all 1s; 
	animation:xuanzhuang 1s linear infinite;
}
.totop:hover{
	background:blue;
	width:50px;
	height:50px;
}
.footer{
	width:100%;
	height:200px;
	bottom:10px;
	
}